  
  <footer>
    
      <span>© 2024 Created by Sabine Eberenz</span>
      
      <ul class="ul">
        <li></li>
      </ul>
  </footer>
  </main>
    <script src="/app.js"></script>
  </body>
</html>